/* 전체 배경 */
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #308BC5;
}

/* 로그인 박스 */
.login-box {
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: black;
}

.highlight {
    color: #308BC5;
    font-weight: bold;
}

.kakao-login-btn {
    background-color: #FEE500;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    width: 100%;
}

.kakao-login-btn:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

